.event-teaser {
  margin: 0px 0px 15px 0px;
  background-color: #fff;
  padding: 10px;
  /*border: 1px solid #ccc;*/
}
.event-teaser { border-top: 1px dashed #ccc; }
.event-teaser:first-child { border-top: none; }
.event-teaser > h3 { margin-top: 0px; }
.event-teaser .img-responsive { margin: 0px 0px 10px 0px;  }
.event-teaser .event-about {
  white-space: pre-line;
  line-height: inherit;
  max-height: 180px;
  overflow-y: auto;
}
.event-teaser p { margin-bottom: 10px; }

.table-full-width {
  width: 100%;
}
.table-full-width th, .table-full-width td {
  padding: 2px 5px;
}
.events-actions {
  margin-bottom: 10px;
}
.event-dates {
  margin-top: 15px;
}
.events-area-search {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #fff;
}

body.event.find h2.page-header{
  display: none;
}


body.event.create #region-content {
  padding: 0px;
  background-color: transparent;
  border: 0px;
}

.widget.widget-we-cf-search-form.widget {
  border: 0px;
  padding: 0px;
  margin: 0px 0px 10px 0px;
  background: inherit;
}

.flat-menu {
  padding: 0px;
  margin: 0px;
  display: block;
  list-style: none;
}

.flat-menu a {
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  padding: 10px;
  margin-bottom: 3px;
  background-color: #f7f7f7;
}
.flat-menu a.active,
.flat-menu a:hover {
  color: #fff;
  background-color: #34495E;
  text-decoration: none;
}

body.event.create #region-sidebar {
  display: none;
}

body.event.create #region-content {
  margin: 0px auto;
  float: none;
  clear: both;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

body.event.findOne #headerwrap h1 {
  font-size: 33px;
}
body.event.findOne #headerwrap h3 {
  font-size: 18px;
}

body.event.findOne #about {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #fff;
  margin-top: 10px;
}

.navbar-collapse.collapse.colapse-event {
  display: inline-block !important;
}

.navbar-event-brand {
  margin: 0px;
  padding: 0px 15px;
}
.event-logo {
  width: 50px;
}

/* Event tags */
.event-tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.event-tags li {
  float: left;
}
.event-tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.event-tag:hover {
  outline: inherit;
  text-decoration: none;
}
.event-tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.event-tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.event-tag:hover {
  background-color: #34495E;
  color: white;
}
.event-tag:hover::after {
   border-left-color: #34495E;
}


/* Event site menu */
#site-menu {
  position: fixed;
  left: 0px;
  z-index: 1000;
  top: 38%;
  font-size: 26px;
}
#site-menu ul {
  list-style: none;
  padding-left: 0px;
}
#site-menu li {
  padding-top: 2px;
}
#site-menu a {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 10px;
  background-color: #fff;

  width: 46px;
  line-height: 25px;
  display: block;
}

.events-icon {
  color: #ED143D
}
.home-icon {
  color: #000;
}
.twitter-icon {
  color: #0FB5EE;
}
.facebook-color {
  color: #4A66A0;
}

.navbar-default .navbar-nav > li > a.btn-main-menu-create-event {
  color: #fff;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a.btn-main-menu-create-event:hover {
  color: #000;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a.btn-main-menu-create-event.active {
  color: #555;
}