layout {
  min-height: 400px;
  display: block;
}

#we-layout {
  min-height: 600px;
}

.carousel-indicators li{
  border: 2px solid #000;
}

body.privacity h2.page-header,
body.user h2.page-header {
  display: none;
}


.widget {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 15px;
}

.widget-header h3 {
  margin-top: 0px;
}

.sharebox-area {
  background-color: #fff;
}

h2.page-header  {
  margin-top: 0px;
}

.footer {
  margin-top: 15px;
}

// posts .post-teaser {
//   box-shadow: inherit;
//   margin: 0px;
// }

.post-teaser,
.posts .post-teaser {
  box-shadow: inherit;
  padding: 10px;
  margin-left: 0px;
  border: 1px solid #ccc;
}

.post-teaser.highlighted,
.post.highlighted {
  border-color: darkred ;
}

body.post.findOne h2.page-header {
  display: none;
}
.navbar {
  margin-bottom: 0px;
}
.breadcrumb {
  margin-top: 10px;
}
// revert outline to default
.nav > li > a:hover, .nav > li > a:focus,
.nav > li > a:focus,
a:hover, a:active, a:focus, button:focus {
  text-decoration: underline;
  outline: thin dotted;
}

body.event.create #region-content {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);

}