{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}

<div id="c" class="footer">
  <div class="container">
    <p>
    {{{req.we.config.appFooterText}}}
    </p>
  </div>
</div>