<div class="container"><div class="row">
  <div class="col-md-12">{{we-breadcrumb locals=this}}</div>

  {{#region 'highlighted' class="col col-md-12"}}{{/region}}

  {{#region 'sidebar' class="col col-md-4"}}{{/region}}
  <div id="region-content" class="col col-md-8">
    <h2 class="page-header">{{title}}</h2>

    <div id="sysMessagesArea">{{{we-messages}}}</div>

    <div id="content">{{{body}}}</div>
  </div>
</div></div>
